.container {
  display: grid;
  /*border: 2px dashed rgba(114, 186, 94, 0.35);*/
  height: 350px;

  /* grid-template-columns: 50px 50px 65px 50px 50px 65px 50px 50px 50px;
  grid-template-rows: 50px 50px 65px 50px 50px 65px 50px 50px 50px; */
  grid-template-columns: 35px 35px 50px 35px 35px 50px 35px 35px 35px;
  grid-template-rows: 35px 35px 50px 35px 35px 50px 35px 35px 35px;

  /*background: rgba(114, 186, 94, 0.05);*/
  padding: 15px;
}
.item {
  text-align:center !important;
  width: 35px;
  height: 35px;
  background: rgba(255, 213, 70, 0.4);
  /*border: 2px dashed rgba(236, 198, 48, 0.5);*/
}

.container {
  justify-content: center;
}

#cell_input {
/*  margin: 15px 10px;*/
  text-align: center;
  margin-top: 10px;
  height: 10px;
  width: 10px;
}
